@import '../App.scss';

.MuiToolbar-root {
    padding: 17px;
    justify-content: center;
}

.header-image-div {
    position: fixed;
    top: 25px;
    right: 20px;
    max-width: 80px;
    align-self: flex-start;
}

.header-image-div img {
    width: 100%;
}

.header-heading {
    font-family: Montserrat-Bold, Verdana, Geneva, Tahoma, sans-serif;
    color: $secondaryColor;
}