@import '../App.scss';

.MuiToolbar-root {
    padding: 15px;
    justify-content: center;
}

.header-image-div {
    position: fixed;
    top: 15px;
    left: 20px;
    max-width: 110px;
    align-self: flex-start;
}

.header-image-div img {
    width: 100%;
}

.header-heading {
    font-family: Montserrat-Bold, Verdana, Geneva, Tahoma, sans-serif;;
    color: $secondaryColor;
}