@import '../App.scss';

.section-content, .small-section-content {
    width: 100%;
    text-align: left;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 24px;
    }
    a {
        color: $secondaryColor;
        &:first-child li {
            margin-top: 24px;
        }
    }
}

.guide-div {
    margin: 10px;
    text-align: center;
    max-width: 280px;
    > div {
        padding: 15px;
        font-size: 14px;
        color: #888;
    }
    svg {
        width: 46px;
        fill: #555;
    }
}
.small-section-content {
    width: auto;
}

.small-section-content li {
    padding: 12px;
    font-size: 14px;
}