@mixin font($font-family, $font-file) {
	@font-face {
		font-family: $font-family;
		src: url($font-file) format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}

@include font('Montserrat', './util/Montserrat/Montserrat-Regular.ttf');
@include font('Montserrat-Bold', './util/Montserrat/Montserrat-Bold.ttf');

$primaryColor: #FFF; //#3A76C6;
$primaryColorDark: #EEE;
$secondaryColor: #505050;
// $gradientStyle: linear-gradient(to bottom right, #7a74ff, #1677a6);
$inputTextColor: #444;
// $themeSecondary: #7a74ff;

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

$primary: #FFF;
$secondary: #505050;
$danger: #f44336;
$warning: #DEC716;
$caution: #e49013;
$info: #168BDE;
$success: #379c37;

body {
	margin: 0;
	padding: 0;
	font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

.flex-layout {
	display: flex;
	width: 100%;
}

.flex-30 {
	flex: 1 1 30%;
}

.flex-70 {
	flex: 1 1 70%;
}

.flex-auto {
    flex: 1 1 auto;
}

.grey-div {
	background: #F1F1F1;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.section-div {
    padding: 40px 0;
}

.section-margin-left {
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: $secondaryColor;
}

a:hover, a:focus {
    text-decoration: underline;
}

.section-heading {
    font: 20px Montserrat-Bold, Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
    text-transform: capitalize;
}

.extra-large {
    font-size: 26px;
}

.full-height {
    min-height: calc(100vh - 200px);
    max-height: 100%;
}

.max-content-width {
    width: max-content !important;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

:export {
    primaryColor: #FFF;
    primaryColorDark: #EEE;
    secondaryColor :#505050;
    // gradientStyle: linear-gradient(to bottom right, #7a74ff, #1677a6);
    inputTextColor: #444;
    // themeSecondary: #7a74ff;
    
    xs: 0px;
    sm: 600px;
    md: 960px;
    lg: 1280px;
    xl: 1920px;

    primary: #FFF;
    secondary: #505050;
    danger: #f44336;
    warning: #DEC716;
    info: #168BDE;
    caution: #e49013;
    success: #379c37;
}